body {
    font-family: Roboto, sans-serif;
    background-color: #EDDFE0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  footer .row {
    display: flex;
    align-items: center;
  }

  .navbar{
    background-color: rgba(227, 213, 202, 0.8);    
    backdrop-filter: blur(10px);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 0.5rem;
  }
  .navbar-brand{
    font-weight: 500;
    color: #705C53;
    font-size: 20px;
    transition: 0.3s color;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-toggler{
    border: none;
    font-size: 1.25rem;
  }

  .navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
  }
  
  .nav-link{
    color: gray;
    font-weight: 500;
    position: relative;
  }

  .nav-link:hover, .nav-link.active{
    color:#000
  }

  @media(min-width: 991px){
    .nav-link::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #705C53;
      visibility: hidden;
      transition: 0.3 ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
      width: 100%;
      visibility: visible;
    }
  }

  a {
    padding: 0 20px;
    margin: 0;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1634312944845-72e0075cf500?q=80&w=2694&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    height: 60vh;  /* Makes the section take full height */
    padding-top: 80px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #2a70e0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  .portrait {
    width:  350px;
    height: 300px;
  }
  
  figure img {
    width: 100%;
    height: auto;
  }
  
  figure {
    margin-bottom: 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  